{% extends '../base.html'%} {% load i18n %} {% load account socialaccount %} {% block title %} login {% endblock title %} {% block content %}
<div class="container auth-container p-5">

    <form method="post" class="card p-4 pt-2 ">
        <h1 class="text-center my-4 text-success fs-3">Sign in</h1>
        {%csrf_token%}{{ form.login}}
        <small class="error text-warning"> {{form.login.errors}}</small> {{ form.password}}
        <small class="error text-warning"> {{form.password.errors}}</small> {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
        <button type="submit" class="btn btn-success my-4 btn-block">Login</button>
        <span class="text-center pb-2"> or login with </span>
        <div class="social-pack ">
            <a href="{%url 'facebook_login_by_token'%}" class=" text-muted"><i class="bi bi-facebook "></i></a>
            <a href="{%url 'google_login'%}" class=" text-muted"> <i class="bi bi-google "></i></a>
            <a href="{%url 'twitter_login'%}" class=" text-muted"> <i class="bi bi-twitter "></i></a>
        </div>
        <span class="text-muted mt-2">Don't have account?<a href="{{ signup_url }}" class="text-success">Register
                Here</a></span>
        <a class="button text-success" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

    </form>

</div>
{% endblock content %}