{% extends '../base.html'%} {% block title %} {{post.title}} {% endblock title %} {% block content %}
<div class="container">
    <section class="row mt-5 mb-5 blog-detail">

        <article class="col-md-12  px-4">
            <h2 class="mb-2 fs-4">{{post.title |title}}</h2>
            <small>{{ post.date_created | date:'d'}} {{ post.date_created | date:'F'}}
                {{post.date_created|date:'Y'}}</small>
            {% comment %} <img src="{{post.cover_image.url}}" alt="" class="cover-image"> {% endcomment %}
            <img src="{{post.cover_image}}" alt="" class="cover-image">
            <div class="post-content row pt-4 ">
                <div class="author-bio p-4 col-md-4">
                    {% comment %} <div class="avatar bg-dark mb-4 overflow-hidden"><img src="{{post.user.profile_pic.url}}" alt=""></div> {% endcomment %}
                    <small class="text-muted">By:</small> <span style="color:#ff436c">{{post.user.username}}</span>
                    <hr>
                    <div class="social-pack">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-twitter"></i>
                    </div>

                    <p class="pt-4" style="color: #ff436e;font-size:.93rem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quis repellendus eum quasi repellat eius alias voluptates voluptate officia odit?</p>
                </div>

                <div class="text col-md-8 ">
                    {{post.post|safe|linebreaks}}
                </div>

            </div>
        </article>
        <aside class="row px-4 mt-4" style="background-color: #fff!important">
            <div class="col-md-4 left">
                <div class="share-box">
                    <h3>Share On Social Media</h3>
                    <div class="social-pack">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-twitter"></i>
                    </div>
                </div>
                <div class="aside-articles mt-4">
                    <h2>Top Posts</h2>
                    {% for post in popular_posts%}
                    <a href="{%url 'post_detail' post.id %}" class="text-dark">
                        <div class="aside-article mt-2">
                            <div class="thumbnail">
                                {% comment %} <img src="{{post.cover_image.url}}" alt=""> {% endcomment %}
                                <img src="{{post.cover_image}}" alt="">
                            </div>
                            <div class="m-2 " style="width:200px">
                                <span class="article-heading">{{post.title}}</span>
                                <small class="mt-2">{{ post.date_created | date:'d'}} {{ post.date_created|date:'F'}}{{post.date_created|date:'Y'}}</small>
                            </div>
                        </div>
                    </a> {% endfor %}

                </div>
            </div>
            <div class="adverts-space col-md-8 " style="max-height: 400px;">
                <img class="w-100" src="https://www.contentstadium.com/wp-content/uploads/2022/02/were-hiring-social-media-post-examples.png" alt="">

            </div>
        </aside>

    </section>
    <section class="comments-section   container mb-5">
        <div class="row">
            {% if comments %}
            <div class="col-md">
                <h4 class="text-secondary mb-4 " style="overflow:hidden"> <i class="bi bi-chat-square"></i> Comments {{comments|length}}
                </h4>
                {% for comment in comments %}
                <div class="comment m-2">
                    <div class="avatar border overflow-hidden">
                        {% comment %} <img src="{{comment.user.profile_pic.url}}" alt=""> {% endcomment %}
                        <img src="https://trednix.com/assets/img/profiles/avatar.png" alt="">
                    </div>
                    <div class="left ">
                        <div><strong>{{comment.user}}</strong><small> {{comment.date_created|timesince}}
                                ago</small></div>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
                {% endfor %}
            </div> {% endif %}
            <div class="col-md">
                <h5 class="text-secondary ">Leave a comment</h5>
                {% include "../components/message.html"%}
                <form method="post">
                    {%csrf_token%} {{form.comment}}
                    <br>
                    <button type="submit" class="btn mt-2">SUBMIT</button>
                </form>
            </div>
        </div>


    </section>
</div>
{% endblock content %}