{%extends '../base.html'%} {% block title %} jobs for you {% endblock title %} {% block content %}
<div class=" row  px-4 jobs">
    <aside class="col-md-2  p-4">
        <span><i class="bi bi-filter mb-4"> Filter & Refine</i></span>
        <div class="mt-2">
            <div class="accordion-header">
                <strong class="accordion-button" data-bs-toggle="collapse" data-bs-target="#categories" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Job Categories <i
                        class="bi bi-chevron-down"></i></strong>
            </div>
            <ul class="p-0 accordion" id="categories">
                <li class="accordion-item"><small><a href="{%url 'jobs_list'%}">All Jobs</a></small></li>
                {% for c in job_categories %}
                <li class="accordion-item">
                    <small><a href="?query={{c}}">{{c}} {% if c.jobs.count %}
                            ({{c.jobs.count}})
                            {% endif %} </a></small>
                </li> {% endfor %}
            </ul>
        </div>
        <div>
            <div class="accordion-header">
                <strong class="accordion-button" data-bs-toggle="collapse" data-bs-target="#types" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Job Type <i class="bi bi-chevron-down"></i></strong>
            </div>
            <ul class="p-0 accordion" id="types">

                <li>
                    <a href="?query=remote"> <small>Remote</small></a>
                </li>
                <li>
                    <a href="?query=part time">
                        <small>Part Time</small>
                    </a>
                </li>
                <li>
                    <a href="?query=full time">
                        <small>FullTime</small>
                    </a>
                </li>

            </ul>
        </div>

        <span class="btn w-100  mt-5">Add Job</span>
    </aside>
    <main class=" col-md-10  py-5">
        {% if jobs %}
        <div class=" row justify-content-center p-0 m-0" style="gap: 32px; ">
            {% for job in jobs %} {% include '../components/job-card.html' %} {% endfor %} {% else %}
            <div class="p-5 border">
                <h1 class="text-center text-muted m-5">No Items To Display</h1>
            </div>{% endif %} {% include '../components/paginator.html' %}
        </div>
    </main>
</div>
{% endblock content %}