<div class="pt-2">
    <div class="avatar">
        <img src="{{user.profile_pic.url}}" alt="profile pic" loading="lazy">
    </div>
    <span class="text-success mt-2" data-bs-toggle="modal" data-bs-target="#edit-profile">Edit
        Profile</span>
    <div class="biography py-4">
        <strong class="mb-2">About Me</strong>
        <br>
        <small>
            {{user.biography|truncatewords:30}}
        </small>
    </div>
</div>
<div>

    <div class="detail">
        <strong>Full Name</strong>
        <br>
        <small class="text-muted">Muwanguzi Joseph</small>
    </div>
    <div class="detail">
        <strong>Phone</strong>
        <br>
        <small class="text-muted">{{user.phone_number}}</small>
    </div>
    <div class="detail">
        <strong>Nationality</strong>
        <br>
        <small class="text-muted">{{user.nationality}}</small>
    </div>

    <div class="detail">
        <strong>Birthday</strong>
        <br>
        <small class="text-muted">{{user.birthday}}</small>
    </div>



</div>