<span>My Profile</span> <i class="fa fa-mail">N</i>
<div class="mt-2">
    <div class="avatar">
        <img src="{{user.profile_pic.url}}" alt="profile pic" loading="lazy">
    </div>
    <div class="biography py-4">
        <strong class="mb-2">About Me</strong>
        <br>
        <small>
            {{user.biography}}
        </small>
    </div>
</div>
<div>

    <div class="detail">
        <strong>Full Name</strong>
        <br>
        <small class="text-muted">Muwanguzi Joseph</small>
    </div>
    <div class="detail">
        <strong>Phone</strong>
        <br>
        <small class="text-muted">{{user.phone_number}}</small>
    </div>
    <div class="detail">
        <strong>Nationality</strong>
        <br>
        <small class="text-muted">{{user.nationality}}</small>
    </div>

    <div class="detail">
        <strong>Birthday</strong>
        <br>
        <small class="text-muted">{{user.birthday}}</small>
    </div>

    <div class="detail">
        <strong data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Notifications</strong>
    </div>


</div>