<section class="container-fluid  pb-4 cons-bg px-0 animate-container">
    <div class="overlay bg-dark"></div>
    <div class="container pt-4 ">
        <h2 class="text-center text-success m-4">Our Progress Meter</h2>
        <div>
            <p class="text-light text-center p-limit text-light w-70 " >
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur veritatis omnis quis maiores atque eveniet cupiditate est laboriosam assumenda rerum!</p>
            <div class="numbers mt-4">
                <div class="item">
                    <span id="jobs">0
                    </span>
                    <p>Jobs</p>
                </div>
                <div class="item">
                    <span id="employers">0</span>
                    <p>Employers</p>
                </div>
                <div class="item"><span id="people">0</span>
                    <p>People Employed</p>
                </div>
                <div class="item">
                    <span id="companies">0</span>
                    <p>Companies</p>
                </div>
            </div>
        </div>

    </div>

</section>