{%if latest_posts %}
<section class="container-fluid  blog-sample pb-4 mt-4 pt-4">
    <div class="container">
        <h2 class="pb-4 mb-5 text-center">Recent From Our Blog</h2>
        <div class="row justify-content-center m-4" style="gap: 42px;">
            {% for post in latest_posts %}
            <div class="card shadow-sm bg-body col-md" style=" padding:0">
                <div class="card-image " style="height: 12rem">
                    <img src="{{post.cover_image.url}}" alt="">
                </div>
                <div class="card-body ">
                    <h5 class="card-tile post-h">{{ post.title|title }}</h5>
                    <p class="card-text text-muted">{{ post.post|safe|truncatewords:10 }}</p>
                </div>
                <div class="date p-2">
                    <small class="day">{{ post.date_created | date:'d'}}</small>
                    <strong class="month">{{post.date_created |date:'F'}}</strong>
                    <small class="year">{{ post.date_created | date:'Y'}}</small>
                </div>

                <div class="bottom  ">
                    <a href="{%url 'post_detail' post.id%}"> <button class="btn bg-light">read more <i
                                class="bi bi-arrow-right"></i></button></a>


                </div>

            </div>

            {% endfor %}
        </div>

    </div>
</section>
{% endif %}