<section class="bg-dark container-fluid pb-4">
    <div class="container">
        <div class="footer row  pt-4  pb-5">
            <div class="col-md">
                <h4 class="text-success">JOBS TELESCOPE</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, nobis cupiditate! Facere debitis deserunt itaque.</p>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, nobis cupidita</p>
            </div>
            <div class=" contacts col-md">
                <h6 class="text-light">Our Contacts</h6>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
            </div>
            <div class=" col-md">
                <h6 class="text-light">Page Links</h6>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
                <a href="">
                    <p class="nav-link"><i class="bi bi-arrow-right"></i>Link</p>
                </a>
            </div>
            <div class="subscribe-form col-md">
                <h6 class="text-light">Subscribe To Our Newsletter</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae facere saepe nemo.</p>
                <form method="post">
                    {%csrf_token%}
                    <input type="email" name="email" placeholder="enter your email">
                    <button>Subscribe</button>
                </form>
            </div>
        </div>
        <small class=" text-muted text-center m-2" style="display:block"><strong>&copy muwanguzi joseph
                2022</strong></small>
    </div>
</section>