<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-dark ">
        <h5 id="offcanvasRightLabel" class="text-light">My Notifications</h5>
        <button type="button" class="btn-close text-light " data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        {% if notifications %} {% for n in notifications %}
        <div class="alert border alert-dismissible fade show" role="alert">
            <small>{{n.information}}</small>
            <a href="{%url 'remove_notification' n.id%}" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
        </div>

        {% endfor %} {% else %} No New Notifications {% endif %}
    </div>
</div>